/*
COLOR PALETTE:
https: //coolors.co/1e152a-3dfaff-92140c-f72585-4361ee
#13152A - Dark Purple
#3DFAFF - Aqua
#92140C - Dark Red
#F72585 - Flickr Pink
#4361EE - Ultramarine Blue
#343434 - Black (for text)
*/

/* GLOBAL STYLES
--------------------------------------*/

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    display: block;
    position: relative;
    color: #343434;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat',sans-serif;
    font-size: 16px;
    line-height: normal;
}

img {
   max-width: 400px;
}

h1 {
    font-size: 55px;
    line-height: 1;
}

h2, th {
    font-size: 30px;
}

p, td {
    font-size: 100%;
}

.about-me, .professional-experience, .awards, .contacts {
    max-width: 75vw;
    position: inherit;
    left: 10vw;
    margin: 0 0 20em 0;
}

.nobull {
    list-style-type: none;
}

/* Home section
--------------------------------------*/

.about-me .ident {
    width: 300px;
}

#home {
    padding-bottom: 20px;
    border-bottom: 3px solid black;
}

.my_photo {
    display: inline-flex;
    border-radius: 50%;
    max-width: 25%;
    max-height: 25%;
    left: 30vw;
    
}

/* Professional Experience
--------------------------------------*/

.professional-experience {
    position: inherit;
}

p.description {
    display: inline-flex;
    max-width: 50vw;
}

.content a img {
    vertical-align: middle;
}

.OSTA-AECO, .HCDSB, .St.Paul {
    margin: 15em 0;
}

.OSTA-AECO .content {
   vertical-align: right;
   align-items: center;
}

.OSTA-AECO .content p.description {
    margin: 0 2em 0 0;
}

.OSTA-AECO .content a img {
    max-width: 25%;
    margin: 2em 0 0 0;
}

.HCDSB {
    text-align: right;
}

.HCDSB .content .description {
    margin: 0 0 2em 0;
}

.HCDSB .content a img {
    max-width: 50%;
    margin: 2em 0 0 0;
}

/* Projects
--------------------------------------*/
.projects {
    margin: 15em 0;
}

.projects .intro {
    position: relative;
    max-width: 75vw;
    left: 10%;
}

.content.pro {
    display: flex;
    flex-direction: row;
}

.broccoli, .bridge {
    text-align: center;
    flex: 1;
    max-width: 35%;
    max-height: 15%;
    border: 1px solid black;
    margin: 1em;
}

.broccoli {
    margin: 0 0 0 12em;
}

img.photo {
    max-height: 190px;

}

.bridge {
    margin: 0 0 0 2em;
}

/* Awards
--------------------------------------*/
table {
    border-collapse: collapse;
}

th {
    padding: 0 0 1em 0;
}

th, td {
    padding: .75em;
    border-bottom: 1px solid black;
}

th.year {
    padding: 0;
}

/* Contacts
--------------------------------------*/

.logos ul {
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    margin: 0;
    vertical-align: top;
}

.logos a {
    margin: 0 0 0 3em;

}

.logos img {
    width: 3em;
}

.Linkedin, .Twitter, .Github {
    flex-direction: row;
    justify-items: flex-start;
}