/*
COLOR PALETTE:
https: //coolors.co/1e152a-3dfaff-92140c-f72585-4361ee
#13152A - Dark Purple
#3DFAFF - Aqua
#92140C - Dark Red
#F72585 - Flickr Pink
#4361EE - Ultramarine Blue
#343434 - Black (for text)

#0B0014 - Xketic 
#D44D5C - Paradise Pink
*/

/* NOTE:
- the vw is 1% of the viewport width (which is why we need it to make it responsive to different devices).
- I am going to change mutliple sections to make it more responsive for the css

NOTE ALSO FOR CERTAIN SELECTOR STYLES:
> (element1 > element2) refers to all <element2> where the parent is an <element1> element
+ (element1 + element2) refers to all <element2> that are placed after <element1> elements
~ (element1 ~ element2) refers to selecting all <element2> that are preceded by a <element1> element (meaning 

/* GLOBAL STYLES
--------------------------------------*/
html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    position: relative;
    display: block;
    color: #343434;
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Montserrat',sans-serif;
    font-size: 16px;
    /* Line-height is the property referring to the space between each line. 1.6 is the normal. */
    line-height: 1.6;
}

img {
    width: 400px;
}

h1 {
    font-size: 70px;
}

h2, th {
    font-size: 35px;
}

p, td {
    font-size: 100%;
    line-height: 2;
}

article,
section {
    display: block;
}

/* we add a content-wrapper to maximize the width that we can have on any given section */
.content-wrapper {
    max-width: 85%;
    /* the margin is set to 0 automatically, because if we need to change it later, we'll do it in different areas */
    margin: 0 auto;
    padding: 60px 0;

}

.nobull {
    list-style-type: none;
}

.major {
    padding-bottom: 1em;
    border-bottom: 2px solid black;
}

/* Navigation section
--------------------------------------*/
/* NOTE: Preserve the background as #4361EE and the text as white */
/* How this works....

- .dropdown class uses position:relative, when we need the dropdown content to be placed
BELOW the dropdown button (position:absolute).
- Then, .dropdown-content holds actual dropdown menu, which is actually hidden by default, and will
be displayed on hover. Min-width is set to 160px (which can be changed). I will change
the width of the dropwdown content to be as wide as the dropdown button by setting the width to 100% and overflow:auto
so that we can scroll on small screens.
- box-shadow property will be used to make the dropdown menu look like a card, and the z-index will place the dropdown
in front of other elements.*/

/* SOME OTHER NOTES:

-- overflow: hidden refers to content that will be clipped should it go past its container




*/

header {
    overflow: hidden;
    background-color: #0B0014;
}

.dropbtn {
    background-color: #4361EE;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    right: 5em;

}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    float: right;
    /* I need the actual dropdown menu to be floated to the right */
}

/* Dropdown Content (which is hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #0B0014;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    /* Of course, if we float items to the right, we need to be right up against the border on the right. */
    right: 0;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown a:hover {
    background-color: #ddd;
}

/* Show dropdown menu (we have to use JS to add the class to the .dropdown-content container when userclicks on
dropdown button */
.show {
    display: block;
}

/* Sticky class added when JS is run as it approaches its defined position */
.sticky {
    position: fixed;
    /* The bar has to be right against the top of the bar */
    top: 0;
    width: 100%;
}

/* The extra padding to the content is supposed to help with quick movement that may be distorted -- remember we still have to keep the bar pushed against the top of the page. */
.sticky+.content {
    padding-top: 60px;
}

/* Home section
--------------------------------------*/
#home {
    padding-bottom: 20px;
    border-bottom: 3px solid black;
}

.my_photo img {
    display: block;
}

/* Professional Experience
--------------------------------------*/

/* Projects
--------------------------------------*/
/* Note that you must fix the projects here because this is currently not responsive. */

.inner.project {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.inner article {
    border: 2px solid black;
    padding: 1.75em 1.75em 0.1em;
    border-radius: 10px;
    margin: 1.5em 3em 1.5em 0;
    width: calc(50% - 1.5em);
    text-align: center;
}

.inner article:nth-child(2n) {
    margin-right: 0;
}



 /* text-align: center;
    flex: 2;
    max-width: 30em;
    border: 1px solid black;
    margin: 1em; */
/* Awards
--------------------------------------*/
table {
    border-collapse: collapse;
}

th, td {
    padding: .75em;
    border-bottom: 1px solid black;
}

th.year {
    padding: 0;
}

/* Contacts
--------------------------------------*/
.logos.nobull {
    white-space: nowrap;
    display: block;
    flex-direction: column;
    margin: 0;
}

.logos a {
    margin: 0 0 0 3em;

}

.logos img {
    width: 3em;
}

.Linkedin, .Twitter, .Github {
    flex-direction: row;
    justify-items: flex-start;
}

/* Responsive media
--------------------------------------*/
@media screen and (min-width: 750px) {
   
}

@media screen and (max-width: 749px) {
   
}